#git {
  padding-right: 20px;
  position: absolute;
  bottom: 0px;
  left: 5px;
}
#git:hover{
  transform: translateY(-7px);
}
#linkedin {
  padding-right: 20px;
  position: absolute;
  bottom: 0px;
  left: 85px;
}

#linkedin:hover{
  transform: translateY(-7px);
}
#insta {
  padding-right: 20px;
  position: absolute;
  bottom: 0px;
  left: 45px;
}
#insta:hover{
  transform: translateY(-7px);  
}




#myInput{
  margin-left: 35%;
  width: 30%;
  font-size: 25px; 
  background: none;
  text-align: center;
  color: white;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  border-color: transparent;
}
#myInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.4; /* Firefox */
}



#add {
  border-radius: 25%;
  border:px solid white;
  background:none;
  color:white;
}
#add:hover{
  background: greenyellow;
}

*{outline: none;margin:0;padding:0;}
html, body {height: 100%;}

.wrap {
  margin-top: 1%;
  padding-right: 2px;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 70px;
  height: 35px;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  }

.btn:hover {
  background-color: #ff5722;
      box-shadow: 0px 15px 20px rgba(119, 29, 0, 0.73);
  color: #fff;
  transform: translateY(-7px);
}



body{
  background: #4DA0B0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #D39D38, #4DA0B0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #D39D38, #4DA0B0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}  

h1 {
  margin-top: 6%;
  text-align: center;
  color:white;
  text-shadow: 0px 15px 20px rgba(119, 29, 0, 0.73);
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 44px;
}



h2{
  text-align: center;
  color: white;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 44px;
}

h3{
  color: white;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  margin-bottom: 5px;
  margin-right: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
}






ul {
  font-size: 25px;
  list-style: none;  
  margin-top: 8%;
  margin-left: 25%;
  margin-right: 25%;
  color: white;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  text-align: center;
}

.close {
  position: relative;
  padding: 12px 15px 17px 106px;
}








