#git {
  padding-right: 20px;
  position: absolute;
  bottom: 0px;
  left: 5px;
}
#git:hover{
  transform: translateY(-7px);
}
#linkedin {
  padding-right: 20px;
  position: absolute;
  bottom: 0px;
  left: 85px;
}

#linkedin:hover{
  transform: translateY(-7px);
}
#insta {
  padding-right: 20px;
  position: absolute;
  bottom: 0px;
  left: 45px;
}
#insta:hover{
  transform: translateY(-7px);  
}




#myInput{
  margin-left: 35%;
  width: 30%;
  font-size: 25px; 
  background: none;
  text-align: center;
  color: white;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  border-color: transparent;
}

#myInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.4; /* Firefox */
}




#add {
  border-radius: 25%;
  border:px solid white;
  background:none;
  color:white;
}
#add:hover{
  background: greenyellow;
}

*{outline: none;margin:0;padding:0;}
html, body {height: 100%;}

.wrap {
  margin-top: 1%;
  padding-right: 2px;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addBtn {
  width: 70px;
  height: 35px;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  }

.addBtn:hover {
  background-color: #689F38;
      box-shadow: 0px 15px 20px #388E3C;
  color: #fff;
  transform: translateY(-7px);
}

.btn {
  width: 70px;
  height: 35px;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  }

.btn:hover {
  background-color: #ff5722;
      box-shadow: 0px 15px 20px rgba(119, 29, 0, 0.73);
  color: #fff;
  transform: translateY(-7px);
}

body{
  background-color: #2884b8;
  background-image: linear-gradient(315deg, #2884b8 0%, #d1bad2 74%);
}  

h1 {
  text-align: center;
  color:white;
  margin-top: 1em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 44px;
}


h2{
  text-align: center;
  color: white;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  /*line-height: 44px;*/
}

h3{
  color: white;
  font-weight: 300;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  margin-bottom: 5px;
  margin-right: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
}


li{ 
    text-align: center;
    font-size: 27px; 
    background: #fff;
    width: 350px;
    height: auto;
    display: block;
    margin: 0 auto;
    position:relative;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 10px;
    margin-block-end: 16px;
    margin-top: 16px;
}

li:hover{
  text-decoration: line-through;
  background-color: #689F38;
}










